[submodule "cluster-api-provider-packet"]
	path = cluster-api-provider-packet
	url = git@github.com:kubernetes-sigs/cluster-api-provider-packet.git
[submodule "cluster-api"]
	path = cluster-api
	url = git@github.com:kubernetes-sigs/cluster-api.git
[submodule "cluster-api-control-plane-provider-talos"]
	path = cluster-api-control-plane-provider-talos
	url = git@github.com:siderolabs/cluster-api-control-plane-provider-talos.git
[submodule "cluster-api-bootstrap-provider-talos"]
	path = cluster-api-bootstrap-provider-talos
	url = https://github.com/siderolabs/cluster-api-bootstrap-provider-talos
